<div class="container" >
  <%= simple_form_for(@training_session) do |f| %>
    <%= f.association :training , label_method: :full_name %>
    <%= f.association :instructor, collection: User.where(instructor: true), label_method: :full_name %>
    <%= f.input :begins_at, as: :datetime %>
    <div>
      <label for="weeks"> Create this training session for weeks</label>
      <input type="number" name="weeks">
    </div>
    <%= f.button :submit, style: 'background-color: #5C0C17; color: #FFF' %>
  <% end %>
</div>